@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  background-color: $chat-bg;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

input,textarea {
  border: 1px solid $border-1;
  padding: 12px 20px;
  border-radius: $border-radius;
  background-color: $bg-white;
  width: 100%;

  &::placeholder {
    color: $text-grey;
  }
}

*::-webkit-scrollbar {
  display: block;
  width: 14px;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-track {
  background-color: #00000000;
}

*::-webkit-scrollbar-track-piece {
  background-color: #00000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #00000040;
  border: 1px solid #ffffff40;
  border-radius: 24px;
}

.btn {
  background-color: $bg-white;
  border-radius: $border-radius;
  font-weight: bold;
  font-size: 16px;
  padding: 13px 18px;
  border: 2px solid $bg-white;
  transition: all .25s;
  display: flex;
  justify-content: center;
  align-items: center;

  svg{
    height: 20px;
    margin-right: 5px;
  }

  &:hover:not(:disabled) {
    cursor: pointer;
  }

  &--primary {
    color: white;
    background-color: $color-primary;
    border-color: $color-primary;

    &:hover:not(:disabled) {
      background-color: $color-primary-darken;
      border-color: $color-primary-darken;
    }
  }
  
  &--secondary {
    border-color: $color-primary;

    &:hover:not(:disabled) {
      background-color: $bg-dark-1;
      border-color: $color-primary-darken;
    }
  }

  &--success{
    color: white;
    background-color: $success-light;
  
    &:hover:not(:disabled) {
      background-color: $color-primary-darken;
    }
  }

  &--danger {
    color: black;
    //background-color: $danger-light;
    border: 2px solid $danger;

    &:hover:not(:disabled) {
      background-color: $danger;
      color: white;
    }
  }

  &:disabled{
    background-color: $color-disabled;
    border-color: $color-disabled;
  }
}

.modal-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: $modal-bg;

  display: flex;
  justify-content: center;
  align-items: center;

  &--hide{
    display: none;
  }

  .modal-close{
    display: flex;
    justify-content: flex-end;

    .icon_button{
      &:hover{
        background-color: $danger-light;
      }
    }

    svg{
      height: 20px;
    }
  }
}

.user_pfp{
  @include pfp(150px);
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.no-resize{
  resize: none;
}

.action-desc{
  color: $text-grey;
}