@mixin pfp($size: 48px) {
    object-fit: cover;
    border-radius: $border-radius;
    height: $size;
    width: $size;
    object-fit: cover;
}

@mixin modal-show-animation() {
    animation-name: modal-show;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
}
