//Colors
$bg-white: white;
$bg-dark-1: #f5f5f5;
$bg-dark-2: #e8e8e8;
$color-white: white;
$chat-bg: #fafafa;
$border-1: #e6e6e6;
$bubble-remote: #eaecee;
$text-grey: #7c7c7c;
$color-primary: #0177cb;
$color-primary-darken: #016ab6;
$color-disabled: #bfbfbf;
$color-missing-image-bg: #bbb;
$color-icon-button: #535353;
$modal-bg: #0000005e;
$danger: #f95d5d;
$danger-light: #ffd1d1;
$success-light: #dcffd1;

$success: #d1f6d5;
$success-border: #b1eebb;
$success-color: #4d9058;
$error: #fcecef;
$error-border: #f6aab9;
$error-color: #8a5c65;


//Dimensions
$border-radius: 15px;
$chat-sidebar-w: 340px;
$chat-top-bar-h: 64px;
$input-with-button-size: 42px;