//Colors
$bg-white: white;
$color-white: white;
$chat-bg: #FAFAFA;
$border-1: #e6e6e6;
$bubble-remote: #EAECEE;
$text-grey: #7C7C7C;
$color-primary: #0177CB;

//Dimensions
$border-radius: 15px;
$chat-sidebar-w: 340px;
$chat-top-bar-h: 64px;