#chat{
    display: flex;
    flex-direction: column;

    background-color: $chat-bg;
    height: 100%;
    flex-grow: 1;

    &__area{
        padding: 20px;
        height: 100%;
        //flex-grow: 1;
        //position: relative;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__timeline{
            display: flex;
            flex-direction: column;
            height: 80%;
            max-height: 80%;
            overflow-y: auto;
        }
        
        &__input{
            // position: absolute;
            // bottom: 0;
            // max-height: 20%;
            input{
                padding: 12px 20px;
                border-radius: $border-radius;
                background-color: $bg-white;
                width: 100%;

                &::placeholder{
                    color: $text-grey;
                }
            }
        }
    }
}