#chat{
    display: flex;
    flex-direction: column;

    background-color: $chat-bg;
    height: 100%;
    flex-grow: 1;

    &__area{
        height: 100%;
        //flex-grow: 1;
        //position: relative;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        
        &__timeline{
            padding: 20px;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            scrollbar-gutter: stable;
        }
        
        &__input{
            // position: absolute;
            // bottom: 0;
            // max-height: 20%;
            margin: 10px;
            input{
                width: 100%;
            }
        }
    }


    &.chat--empty{
        position: relative;

        &::after{
            content: "Selecciona o empieza una conversación desde el panel izquierdo.";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;

            font-size: 16px;
            color: $text-grey;
            
            display: flex;
            justify-content: center;
            align-items: center;
            
            background-color: $chat-bg;

            text-align: center;

            //font-weight: bold;
        }
    }
}