.chats_list_item {
    display: flex;
    align-items: center;
    padding: 12px 21px;

    //Button overrides
    width: 100%;
    border: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background-color: transparent;

    &--active {
        background-color: $chat-bg;
        border-top: 1px solid $border-1;
        border-bottom: 1px solid $border-1;
    }

    &__pfp {
        @include pfp(48px);
    }

    &__info {
        margin-left: 14px;

        &__name {
            font-size: 16px;
            margin-bottom: 2px;
        }

        &__msg {
            font-size: 14px;
            color: $text-grey;
        }
    }

    &:hover{
        cursor: pointer;
        background-color: $chat-bg;
    }
}
