.chat_top_bar {
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: $chat-top-bar-h;
    background: $bg-white;
    border-bottom: 1px solid $border-1;
    

    &__info {
        display: flex;
        align-items: center;

        &__pfp {
            @include pfp(48px);
        }

        &__user {
            margin-left: 14px;

            &__name {
                font-weight: bold;
                font-size: 18px;
            }

            &__at {
                font-size: 14px;
                color: $text-grey;
            }
        }
    }

    &__options{
        display: flex;
        align-items: center;

        .icon_button{
            margin: 0 5px;
        }
    }
}
