.modal-delete-chat {
    background-color: $chat-bg;
    padding: 20px;
    border-radius: $border-radius;
    flex-grow: 1;
    max-width: 500px;
    border: 1px solid $border-1;

    max-height: 80%;
    overflow: auto;

    position: relative;
    
    @include modal-show-animation();


    &__title{
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    &__desc{
        color: $text-grey;
        font-size: 16px;
        margin-bottom: 20px;
    }

    &__buttons{
        display: flex;
        justify-content: flex-end;

        button{
            &:nth-child(2){
                margin-left: 10px;
            }
        }
    }
}
