.modal-new-chat {
    background-color: $chat-bg;
    padding: 20px;
    border-radius: $border-radius;
    flex-grow: 1;
    max-width: 450px;
    border: 1px solid $border-1;

    @include modal-show-animation();

    &__search {
        width: 100%;
    }

    .modal-close {
        margin-bottom: 20px;
    }
}
