.profile_card{
    background-color: $bg-dark-1;
    border-radius: $border-radius;
    margin: 18px;
    width: calc(100% - 18px - 16px);
    display: flex;
    align-items: center;
    padding: 16px;

    border: none;
    text-align: left;

    transition: all .25s;

    &__pfp{
        @include pfp(55px);
    }

    &__info{
        margin-left: 14px;

        &__name{
            font-size: 18px;
            font-weight: bold;
        }

        &__at{
            font-size: 14px;
            color: $text-grey;
        }
    }

    &:hover{
        cursor: pointer;
        background-color: $bg-dark-2;
    }
}
