.profile_card{
    width: calc(100% - 18px - 16px);
    display: flex;
    align-items: center;

    text-align: left;

    &__pfp{
        @include pfp(55px);
    }

    &__info{
        margin-left: 14px;

        &__name{
            font-size: 18px;
            font-weight: bold;
        }

        &__at{
            font-size: 14px;
            color: $text-grey;
        }
    }

    &--big &__pfp{
        @include pfp(150px);        
    }

    &--no-padding{
        padding: 0;
    }
}
