.user-pfp-name {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    &__pfp {
        border-radius: $border-radius;
        height: 200px;
        width: 200px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 12px;
        object-fit: cover;

    }
    &__pfp-buttons {
        display: flex;
        justify-content: center;

        button {
            margin: 10px;
        }
    }

    &__info {
        margin-top: 20px;
        text-align: center;
        &__fn{
            font-weight: bold;
            font-size: 24px;
        }
        &__at{
            color: $text-grey;
        }
    }
}
